* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom left, #BBD59F 50%, #AACB88 50%);
}

main {
    width: 30rem;
    margin: 1rem;
    height: fit-content;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

h2 {
    padding: 2rem 1rem;
    text-align: center;
    font-size: clamp(1.2rem, 15vmin, 2rem);
    font-family: sans-serif;
    color: hsl(0, 4%, 17%);
}

.contenido {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.datos-apelido,
.datos-nombre,
.personales,
.localizacion,
.acceso {
    display: flex;
    flex-direction: column;
}

.green {
    color: rgb(19, 196, 19);
}

.red {
    color: red;
}

.leer {
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

.privacidad-parrafo {
    display: none;
    margin-top: 0.7rem;
    font-size: 1rem;
}

.foto {
    display: flex;
    justify-content: center;
}

.foto img {
    height: 20rem;
}

select {
    border: none;
    border-bottom: 1px solid rgb(211, 208, 208);
    margin: 1rem 0;
    font-size: 1rem;
    color: gray;
}

input {
    height: 1.5rem;
    border: none;
    border-bottom: 1px solid rgb(211, 208, 208);
    margin: 1rem 0;
}

button {
    background: linear-gradient(100deg, #524d4d, rgb(5, 5, 5));
    color: #fff;
    padding: 0.7rem 0;
    font-size: 1.2rem;
    margin: 1rem 0;
    border-radius: 1.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.info-numero,
.info {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.checkbox {
    height: 1.4rem;
    background-color: #fff;
}

@media (min-width: 700px) {
    body {
        display: grid;
        place-content: center;
    }

    main {
        width: 45rem;
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contenido {
        padding: 0 2rem;
        text-align: center;
        gap: 0;
    }

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(1.4rem, 15vmin, 2.2rem);
    }

    input {
        height: 1.5rem;
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid rgb(207, 206, 206);
    }

    select {
        font-size: 1.2rem;
    }

    .privacidad-parrafo {
        font-size: 1.2rem;
        text-align: left;
    }

    .foto-contenido {
        display: grid;
        grid-template-rows: 1fr 3.5fr;
    }

    .foto {
        display: flex;
        justify-content: center;
    }

    .foto img {
        height: 30rem;
    }
}

@media (min-width:1000px) {
    body {
        display: grid;
        place-content: center;
    }

    main {
        width: 60rem;
        margin: 1rem;
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        font-size: clamp(1.6rem, 15vmin, 2rem);
        font-size: 2.9rem;
    }

    select {
        font-size: 1.4rem;
    }

    input {
        font-size: 1.3rem;
    }
}

@media (min-width:1480px) {
    body {
        display: grid;
        place-content: center;
    }

    main {
        width: 80rem;
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        font-size: clamp(1.6rem, 15vmin, 2rem);
        font-size: 2.9rem;
    }

    select {
        font-size: 1.5rem;
    }

    input {
        font-size: 1.4rem;
    }
}